BHOONIDHI_USER_ID=
BHOONIDHI_PASSWORD=
BHOONIDHI_BASE_URL=https://bhoonidhi-api.nrsc.gov.in
BHUVAN_ACCESS_TOKEN=
BHUVAN_API_ENDPOINT=
# LULC Model API
LULC_MODEL_URL=https://bhargav37-landcover-model-server.hf.space

# Sentinel-2 Provider API Configuration
SENTINEL2_PROVIDER_API_KEY=
COPERNICUS_CLIENT_ID=
COPERNICUS_CLIENT_SECRET=

GEMINI_API_KEY=
GEMINI_MODEL=gemma-4-26b-a4b-it

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAYAExAzb_oNJbMt2Ksgg7JooKEQxvChI8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=bhoogyan-92e5c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bhoogyan-92e5c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bhoogyan-92e5c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=84889557578
NEXT_PUBLIC_FIREBASE_APP_ID=1:84889557578:web:bdded5f3ee0fa7f30da4b3