@import "tailwindcss";

:root {
  --background: #F6F2EB;
  --foreground: #5B4A3E;
  --color-primary: #5B4A3E;
  --color-secondary: #F8DED4;
  --color-accent: #CBBFAF;
  --color-white: #FFFFFF;
  --color-text-secondary: #8A8077;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-white: var(--color-white);
  --color-text-secondary: var(--color-text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
